:root {
    --colorh1-: orange;
    --colorh2-: dark;
    --colorh3-: grey;
    --colorhh4-: light;
    --colorMainWhite-:#F7F7F7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Open Sans;
    font-weight: 400;
}

*::before,
*::after{box-sizing: border-box;}

img {
    max-width: 100%;
}

.list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    color: var(--colorh1-);
    font-weight: 600;
}

h2 {
    color: var(--colorh2-);
}

h3 {
    color: var(--colorh3-);
}

h4 {
    color: var(--colorhh4-);
}

a {
    text-decoration: none;
    color: var(--colorMainWhite-);
}

li {
    list-style-type: none;

}

.item {
    line-height: 60px;
}

.Survival {
    width: 1440px;
    height: 780px;
    left: 0px;
    top: -1px;
    background: url(assets/Rectangle.png);
    filter: drop-shadow(-150px 0px 150px #02160B);
    border-radius: 0px;
}


.latestArticle {
    width: 1440px;
    height: 1368px;
    left: 0px;
    top: 0px;
    background: #CCCCCC;
    border-radius: 0px;
}


.footer {
    width: 1440px;
    height: 360px;
    left: 0px;
    top: 0px;
    background: url(assets/footer.jpg);
    border-radius: 0px;
}